body{
    background-color: #231e1e;
    text-align: center;
}
header {
  text-align: center;
  margin-bottom: 30px;
}
.contenedor {
      display: flex;              
      justify-content: center;    
      gap: 20px;                  
      margin-top: 50px;
    }
#opcion1, #opcion2, #opcion3 {
  background-color: #1c1c1c;
  border: 2px solid #fff;
  padding: 20px 40px;
  text-align: center;
}
#boton1,#boton2,#boton3{
    color: #731f1f;
    background-color: #231e1e;
}
